extends ../../../layouts/layout.pug

block content
  h1 Add Vendor
  a(href="/vendors") Back
  form(method="post")
    div
      label(for="name") Name 
      input(id="name" type="text" name="name" minlength="1")
    div
      label(for="address") Address 
      input(id="address" type="text" name="address" minlength="1")
    button Add