extends ../../layouts/layout.pug

block content
  h1 Vendors
  a(href="/vendors/add") Add Vendor
  button(id="delete-vendor-button" type="button") Delete
  dialog(id="delete-vendor-dialog") 
    p(id="delete-vendor-dialog-title")
    button(id="cancel-delete-vendor-button" type="button") Cancel
    button(id="confirm-delete-vendor-button" type="button") Delete
  table
    thead
      tr
        th
        th Name
        th Address
    tbody
      each vendor in vendors
        tr
          td
            input(data-id=`${vendor.id}` data-name=`${vendor.name}` type="checkbox")
          td=vendor.name
          td=vendor.address
block scripts
  script(src='/js/vendors/index.js')