extends ../../layouts/layout.pug

block content
  h1 Vendors
  a(href="/vendors/add") Add Vendor
  table
    thead
      tr
        th Name
        th Address
    tbody
      each vendor in vendors
        tr
          td=vendor.name
          td=vendor.address