LOG_LEVEL=info
NODE_ENV=development
PORT=8080
PGHOST=localhost
PGPORT=5432
PGDATABASE=vendors_service
PGUSERNAME=vendors_service
PGPASSWORD=my-database-password
PGPOOL_MIN_CONNECTIONS=0
PGPOOL_MAX_CONNECTIONS=5