html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Vendors Management App - #{title}
  body
    header
    main
      block content
    footer
